* {
    box-sizing: border-box;
}

#id-1 {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    background-color: blue;
    width: 250px;
    height: 100px;
    margin: 10px;
}

p {
    color: white;
}